In [1]:
import pandas as pd
import numpy as np

car= pd.read_csv("pakwheels.csv")
car.head()

C:\Users\asjad\AppData\Local\Temp\ipykernel_11312\156561856.py:4: DtypeWarning: Columns (0,1,3,5,7,8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  car= pd.read_csv("pakwheels.csv")

,name,company,year,price in lacs,price,kms_driven_kms,kms_driven,fuel_type,transmission,location,registered_in,color,engine_capacity
0,Honda Civic VTi Oriel Prosmatec 1.8 i-VTEC 2007,Honda,2007.0,PKR 16.5 lacs,1650000.0,"100,000 km",100000,Petrol,Automatic,Islamabad Islamabad,Lahore,Grey,1800 cc
1,Suzuki Mehran VX Euro II 2012,Suzuki,2012.0,PKR 7 lacs,700000.0,"100,000 km",100000,Petrol,Manual,"Eden Gardens, Faisalabad Punjab",Faisalabad,Grey,800 cc
2,Honda Civic EX 1995,Honda,1995.0,PKR 7.6 lacs,760000.0,999 km,999,Petrol,Manual,"Bostan Road, Rawalpindi Punjab",Lahore,Black,1500 cc
3,Toyota Fortuner 2.7 VVTi 2013,Toyota,2013.0,PKR 70 lacs,7000000.0,"94,000 km",94000,Petrol,Automatic,"Kallar Kahar Road, Chakwal Punjab",Lahore,Black,2700 cc
4,Suzuki Mehran VX Euro II 2015,Suzuki,2015.0,PKR 8 lacs,800000.0,"86,000 km",86000,Petrol,Manual,Muzaffar Gargh Punjab,Multan,Grey,796 cc

In [2]:
car.shape

(1048575, 13)

In [3]:
car = car.drop(["price in lacs", "kms_driven_kms",'color','engine_capacity'], axis=1)
car.head()

,name,company,year,price,kms_driven,fuel_type,transmission,location,registered_in
0,Honda Civic VTi Oriel Prosmatec 1.8 i-VTEC 2007,Honda,2007.0,1650000.0,100000,Petrol,Automatic,Islamabad Islamabad,Lahore
1,Suzuki Mehran VX Euro II 2012,Suzuki,2012.0,700000.0,100000,Petrol,Manual,"Eden Gardens, Faisalabad Punjab",Faisalabad
2,Honda Civic EX 1995,Honda,1995.0,760000.0,999,Petrol,Manual,"Bostan Road, Rawalpindi Punjab",Lahore
3,Toyota Fortuner 2.7 VVTi 2013,Toyota,2013.0,7000000.0,94000,Petrol,Automatic,"Kallar Kahar Road, Chakwal Punjab",Lahore
4,Suzuki Mehran VX Euro II 2015,Suzuki,2015.0,800000.0,86000,Petrol,Manual,Muzaffar Gargh Punjab,Multan

In [4]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   name           89956 non-null    object
 1   company        89956 non-null    object
 2   year           87449 non-null    float64
 3   price          88549 non-null    float64
 4   kms_driven     1048575 non-null  object
 5   fuel_type      89001 non-null    object
 6   transmission   89954 non-null    object
 7   location       89954 non-null    object
 8   registered_in  89954 non-null    object
dtypes: float64(2), object(7)
memory usage: 72.0+ MB

In [5]:
car['location'].unique()

array([' Islamabad Islamabad', ' Eden Gardens, Faisalabad Punjab',
       ' Bostan Road, Rawalpindi Punjab', ...,
       ' Sardar Town, Gujranwala Punjab',
       ' Ameer-ud-Din Park, Lahore Punjab', ' Sufaid Dheri, Peshawar KPK'],
      dtype=object)

In [6]:
car['year'].unique()

array([2007., 2012., 1995., 2013., 2015., 2011., 2018., 2020., 2006.,
       2016., 2014., 2022., 1994., 2008., 2004., 2017., 2005., 2021.,
       2019.,   nan, 1999., 2003., 2000., 2009., 1998., 2001., 2010.,
       2002., 1993., 1997., 1996., 1991., 1992., 1990.])

In [7]:
car['transmission'].unique()

array(['Automatic', 'Manual', nan], dtype=object)

In [8]:
car['kms_driven'].unique()

array(['100000', '999', '94000', ..., '56554', '69091', '258456'],
      dtype=object)

In [9]:
car['registered_in'].unique()

array(['Lahore', 'Faisalabad', 'Multan', 'Islamabad', 'Karachi',
       'Un-Registered', 'Sindh', 'Rawalpindi', 'Peshawar', 'Punjab',
       'Dera ismail khan', 'Sialkot', 'Hyderabad', 'Quetta', 'Abbottabad',
       'Mirpur A.K.', 'Gujranwala', 'Hafizabad', 'Sargodha', 'Bahawalpur',
       'Gilgit', 'Chakwal', 'Gujrat', 'Sheikhupura', 'Lower Dir',
       'Vehari', 'Sahiwal', 'Chiniot', 'Qasba gujrat', 'Jhelum',
       'Muzaffar Gargh', 'Khanewal', 'Toba Tek Singh', 'Kohat', 'Swat',
       'Jhang', 'Mian Wali', 'Okara', 'Sadiqabad', 'Adda jahan khan',
       'Pir mahal', 'Rahim Yar Khan', 'Mardan', 'Mirpur khas', 'Burewala',
       'Mandi bahauddin', 'Bhalwal', 'Muzaffarabad', 'Nawabshah',
       'D.G.Khan', 'Bannu', 'Hub-Balochistan', 'Other', 'Bhakkar',
       'Attock', 'Abdul Hakeem', 'Sukkur', 'Skardu', 'Mansehra', 'Bhera',
       'Khairpur Mir', 'Hangu', 'Kasur', 'Khushab', 'Wah cantt',
       'Khurrianwala', 'Lasbela', 'Haroonabad', 'Swabi',
       'Pak pattan sharif', 'Bahawalnagar', 'Haripur', 'Kashmir',
       'Jaranwala', 'Nowshera', 'Arifwala', 'Kamalia', nan, 'Khyber',
       'Nankana sahib', 'Malakand Agency', 'Larkana', 'Chichawatni',
       'Charsadda', 'Tando Muhammad Khan', 'Madina', 'Adda shaiwala',
       'Malakwal', 'Jacobabad', 'Dir', 'Kamoke', 'Lodhran', 'Daharki',
       'Hasilpur', 'Ahmedpur Lamma', 'Havali Lakhan', 'Ghazi',
       'Renala khurd', 'Kallur kot', 'Tank', 'Tando Allah Yar', 'Pattoki',
       'Talagang', 'Layyah', 'Sibi', 'Khuzdar', 'Taxila', 'Fateh Jang',
       'Khairpur', 'Jand', 'Dunia Pur', 'Depal pur', 'Kharian', 'Karak',
       'Kotli Ak', 'Sanghar', 'Chitral', 'Pind Dadan Khan', 'Swatmingora',
       'Buner', 'Raiwind', 'Chaininda', 'Hazro', 'Ludhan', 'Lakki marwat',
       'Chenab Nagar', 'Quaid Abad', 'Noshero Feroze', 'Bhimber',
       'Nowshera Virka', 'Batang', 'Iskandarabad', 'Jampur', 'Chowk azam',
       'Kallar Saddiyian', 'Rawalakot', 'Dinga', 'Rajanpur', 'Pindi gheb',
       'Hunza', 'Daska', 'Gujar Khan', 'Dera murad jamali', 'Liaqat Pur',
       'Taunsa sharif', 'Phalia'], dtype=object)

# Cleaning the data:

In [10]:
backup = car.copy()

In [11]:
# name has nan values, so we are keeping just the not-NaN values
car[car['name'].notna()]

,name,company,year,price,kms_driven,fuel_type,transmission,location,registered_in
0,Honda Civic VTi Oriel Prosmatec 1.8 i-VTEC 2007,Honda,2007.0,1650000.0,100000,Petrol,Automatic,Islamabad Islamabad,Lahore
1,Suzuki Mehran VX Euro II 2012,Suzuki,2012.0,700000.0,100000,Petrol,Manual,"Eden Gardens, Faisalabad Punjab",Faisalabad
2,Honda Civic EX 1995,Honda,1995.0,760000.0,999,Petrol,Manual,"Bostan Road, Rawalpindi Punjab",Lahore
3,Toyota Fortuner 2.7 VVTi 2013,Toyota,2013.0,7000000.0,94000,Petrol,Automatic,"Kallar Kahar Road, Chakwal Punjab",Lahore
4,Suzuki Mehran VX Euro II 2015,Suzuki,2015.0,800000.0,86000,Petrol,Manual,Muzaffar Gargh Punjab,Multan
...,...,...,...,...,...,...,...,...,...
89951,Daihatsu Mira G SA III 2018,Daihatsu,2018.0,3000000.0,65000,Petrol,Automatic,"Gulshan-e-Iqbal, Karachi Sindh",Sindh
89952,Honda Civic Oriel 1.8 i-VTEC CVT 2017,Honda,2017.0,3750000.0,114000,Petrol,Automatic,"Tandlianwala Town, Faisalabad Punjab",Islamabad
89953,Toyota Corolla GLi Automatic 1.6 VVTi 2011,Toyota,2011.0,2235000.0,152000,Petrol,Automatic,Lahore Punjab,Lahore
89954,Suzuki Swift DLX 1.3 2013,Suzuki,2013.0,1550000.0,104000,Petrol,Manual,"Gulshan-e-Iqbal, Karachi Sindh",Karachi
89955,Toyota Corolla XE Limited 1996,Toyota,1996.0,730000.0,258456,Petrol,Manual,Sheikhupura Punjab,Sindh

In [12]:
car = car[car['name'].notna()]
car

,name,company,year,price,kms_driven,fuel_type,transmission,location,registered_in
0,Honda Civic VTi Oriel Prosmatec 1.8 i-VTEC 2007,Honda,2007.0,1650000.0,100000,Petrol,Automatic,Islamabad Islamabad,Lahore
1,Suzuki Mehran VX Euro II 2012,Suzuki,2012.0,700000.0,100000,Petrol,Manual,"Eden Gardens, Faisalabad Punjab",Faisalabad
2,Honda Civic EX 1995,Honda,1995.0,760000.0,999,Petrol,Manual,"Bostan Road, Rawalpindi Punjab",Lahore
3,Toyota Fortuner 2.7 VVTi 2013,Toyota,2013.0,7000000.0,94000,Petrol,Automatic,"Kallar Kahar Road, Chakwal Punjab",Lahore
4,Suzuki Mehran VX Euro II 2015,Suzuki,2015.0,800000.0,86000,Petrol,Manual,Muzaffar Gargh Punjab,Multan
...,...,...,...,...,...,...,...,...,...
89951,Daihatsu Mira G SA III 2018,Daihatsu,2018.0,3000000.0,65000,Petrol,Automatic,"Gulshan-e-Iqbal, Karachi Sindh",Sindh
89952,Honda Civic Oriel 1.8 i-VTEC CVT 2017,Honda,2017.0,3750000.0,114000,Petrol,Automatic,"Tandlianwala Town, Faisalabad Punjab",Islamabad
89953,Toyota Corolla GLi Automatic 1.6 VVTi 2011,Toyota,2011.0,2235000.0,152000,Petrol,Automatic,Lahore Punjab,Lahore
89954,Suzuki Swift DLX 1.3 2013,Suzuki,2013.0,1550000.0,104000,Petrol,Manual,"Gulshan-e-Iqbal, Karachi Sindh",Karachi
89955,Toyota Corolla XE Limited 1996,Toyota,1996.0,730000.0,258456,Petrol,Manual,Sheikhupura Punjab,Sindh

In [13]:
# company has Nan values so we are removing that

car = car[car['company'].notna()]
car

,name,company,year,price,kms_driven,fuel_type,transmission,location,registered_in
0,Honda Civic VTi Oriel Prosmatec 1.8 i-VTEC 2007,Honda,2007.0,1650000.0,100000,Petrol,Automatic,Islamabad Islamabad,Lahore
1,Suzuki Mehran VX Euro II 2012,Suzuki,2012.0,700000.0,100000,Petrol,Manual,"Eden Gardens, Faisalabad Punjab",Faisalabad
2,Honda Civic EX 1995,Honda,1995.0,760000.0,999,Petrol,Manual,"Bostan Road, Rawalpindi Punjab",Lahore
3,Toyota Fortuner 2.7 VVTi 2013,Toyota,2013.0,7000000.0,94000,Petrol,Automatic,"Kallar Kahar Road, Chakwal Punjab",Lahore
4,Suzuki Mehran VX Euro II 2015,Suzuki,2015.0,800000.0,86000,Petrol,Manual,Muzaffar Gargh Punjab,Multan
...,...,...,...,...,...,...,...,...,...
89951,Daihatsu Mira G SA III 2018,Daihatsu,2018.0,3000000.0,65000,Petrol,Automatic,"Gulshan-e-Iqbal, Karachi Sindh",Sindh
89952,Honda Civic Oriel 1.8 i-VTEC CVT 2017,Honda,2017.0,3750000.0,114000,Petrol,Automatic,"Tandlianwala Town, Faisalabad Punjab",Islamabad
89953,Toyota Corolla GLi Automatic 1.6 VVTi 2011,Toyota,2011.0,2235000.0,152000,Petrol,Automatic,Lahore Punjab,Lahore
89954,Suzuki Swift DLX 1.3 2013,Suzuki,2013.0,1550000.0,104000,Petrol,Manual,"Gulshan-e-Iqbal, Karachi Sindh",Karachi
89955,Toyota Corolla XE Limited 1996,Toyota,1996.0,730000.0,258456,Petrol,Manual,Sheikhupura Punjab,Sindh

In [14]:
# year is float type, it needs to be converted into integer type

car['year'].isna().sum()

2507

In [15]:
# we are dropping the rows which has year as NaN values

car = car.dropna(subset=['year'])
car

,name,company,year,price,kms_driven,fuel_type,transmission,location,registered_in
0,Honda Civic VTi Oriel Prosmatec 1.8 i-VTEC 2007,Honda,2007.0,1650000.0,100000,Petrol,Automatic,Islamabad Islamabad,Lahore
1,Suzuki Mehran VX Euro II 2012,Suzuki,2012.0,700000.0,100000,Petrol,Manual,"Eden Gardens, Faisalabad Punjab",Faisalabad
2,Honda Civic EX 1995,Honda,1995.0,760000.0,999,Petrol,Manual,"Bostan Road, Rawalpindi Punjab",Lahore
3,Toyota Fortuner 2.7 VVTi 2013,Toyota,2013.0,7000000.0,94000,Petrol,Automatic,"Kallar Kahar Road, Chakwal Punjab",Lahore
4,Suzuki Mehran VX Euro II 2015,Suzuki,2015.0,800000.0,86000,Petrol,Manual,Muzaffar Gargh Punjab,Multan
...,...,...,...,...,...,...,...,...,...
89951,Daihatsu Mira G SA III 2018,Daihatsu,2018.0,3000000.0,65000,Petrol,Automatic,"Gulshan-e-Iqbal, Karachi Sindh",Sindh
89952,Honda Civic Oriel 1.8 i-VTEC CVT 2017,Honda,2017.0,3750000.0,114000,Petrol,Automatic,"Tandlianwala Town, Faisalabad Punjab",Islamabad
89953,Toyota Corolla GLi Automatic 1.6 VVTi 2011,Toyota,2011.0,2235000.0,152000,Petrol,Automatic,Lahore Punjab,Lahore
89954,Suzuki Swift DLX 1.3 2013,Suzuki,2013.0,1550000.0,104000,Petrol,Manual,"Gulshan-e-Iqbal, Karachi Sindh",Karachi
89955,Toyota Corolla XE Limited 1996,Toyota,1996.0,730000.0,258456,Petrol,Manual,Sheikhupura Punjab,Sindh

In [16]:
# now let's convert the NaN values to Int type

car['year'] = car['year'].astype(int)

C:\Users\asjad\AppData\Local\Temp\ipykernel_11312\821753180.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['year'] = car['year'].astype(int)

In [17]:
# let's check first if price has Nan values

car['price'].isna().sum()

1403

In [18]:
# we are dropping the rows which has year as NaN values
car = car.dropna(subset=['price'])
car

,name,company,year,price,kms_driven,fuel_type,transmission,location,registered_in
0,Honda Civic VTi Oriel Prosmatec 1.8 i-VTEC 2007,Honda,2007,1650000.0,100000,Petrol,Automatic,Islamabad Islamabad,Lahore
1,Suzuki Mehran VX Euro II 2012,Suzuki,2012,700000.0,100000,Petrol,Manual,"Eden Gardens, Faisalabad Punjab",Faisalabad
2,Honda Civic EX 1995,Honda,1995,760000.0,999,Petrol,Manual,"Bostan Road, Rawalpindi Punjab",Lahore
3,Toyota Fortuner 2.7 VVTi 2013,Toyota,2013,7000000.0,94000,Petrol,Automatic,"Kallar Kahar Road, Chakwal Punjab",Lahore
4,Suzuki Mehran VX Euro II 2015,Suzuki,2015,800000.0,86000,Petrol,Manual,Muzaffar Gargh Punjab,Multan
...,...,...,...,...,...,...,...,...,...
89951,Daihatsu Mira G SA III 2018,Daihatsu,2018,3000000.0,65000,Petrol,Automatic,"Gulshan-e-Iqbal, Karachi Sindh",Sindh
89952,Honda Civic Oriel 1.8 i-VTEC CVT 2017,Honda,2017,3750000.0,114000,Petrol,Automatic,"Tandlianwala Town, Faisalabad Punjab",Islamabad
89953,Toyota Corolla GLi Automatic 1.6 VVTi 2011,Toyota,2011,2235000.0,152000,Petrol,Automatic,Lahore Punjab,Lahore
89954,Suzuki Swift DLX 1.3 2013,Suzuki,2013,1550000.0,104000,Petrol,Manual,"Gulshan-e-Iqbal, Karachi Sindh",Karachi
89955,Toyota Corolla XE Limited 1996,Toyota,1996,730000.0,258456,Petrol,Manual,Sheikhupura Punjab,Sindh

In [19]:
# now let's convert the non-NaN values to Int type

car['price'] = car['price'].astype(int)

C:\Users\asjad\AppData\Local\Temp\ipykernel_11312\971249344.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['price'] = car['price'].astype(int)

In [20]:
# let's check first if kms_driven has Nan values

car['kms_driven'].isna().sum()

0

In [21]:
# now let's convert the non-NaN values to Int type

car['kms_driven'] = car['kms_driven'].astype(int)
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 86046 entries, 0 to 89955
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           86046 non-null  object
 1   company        86046 non-null  object
 2   year           86046 non-null  int32
 3   price          86046 non-null  int32
 4   kms_driven     86046 non-null  int32
 5   fuel_type      85318 non-null  object
 6   transmission   86046 non-null  object
 7   location       86046 non-null  object
 8   registered_in  86046 non-null  object
dtypes: int32(3), object(6)
memory usage: 5.6+ MB

C:\Users\asjad\AppData\Local\Temp\ipykernel_11312\507128511.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['kms_driven'] = car['kms_driven'].astype(int)

In [22]:
# let's check first if fuel_type has Nan values

car['fuel_type'].isna().sum()

728

In [23]:
# we are dropping the rows which has year as NaN values
car = car.dropna(subset=['fuel_type'])
car

,name,company,year,price,kms_driven,fuel_type,transmission,location,registered_in
0,Honda Civic VTi Oriel Prosmatec 1.8 i-VTEC 2007,Honda,2007,1650000,100000,Petrol,Automatic,Islamabad Islamabad,Lahore
1,Suzuki Mehran VX Euro II 2012,Suzuki,2012,700000,100000,Petrol,Manual,"Eden Gardens, Faisalabad Punjab",Faisalabad
2,Honda Civic EX 1995,Honda,1995,760000,999,Petrol,Manual,"Bostan Road, Rawalpindi Punjab",Lahore
3,Toyota Fortuner 2.7 VVTi 2013,Toyota,2013,7000000,94000,Petrol,Automatic,"Kallar Kahar Road, Chakwal Punjab",Lahore
4,Suzuki Mehran VX Euro II 2015,Suzuki,2015,800000,86000,Petrol,Manual,Muzaffar Gargh Punjab,Multan
...,...,...,...,...,...,...,...,...,...
89951,Daihatsu Mira G SA III 2018,Daihatsu,2018,3000000,65000,Petrol,Automatic,"Gulshan-e-Iqbal, Karachi Sindh",Sindh
89952,Honda Civic Oriel 1.8 i-VTEC CVT 2017,Honda,2017,3750000,114000,Petrol,Automatic,"Tandlianwala Town, Faisalabad Punjab",Islamabad
89953,Toyota Corolla GLi Automatic 1.6 VVTi 2011,Toyota,2011,2235000,152000,Petrol,Automatic,Lahore Punjab,Lahore
89954,Suzuki Swift DLX 1.3 2013,Suzuki,2013,1550000,104000,Petrol,Manual,"Gulshan-e-Iqbal, Karachi Sindh",Karachi
89955,Toyota Corolla XE Limited 1996,Toyota,1996,730000,258456,Petrol,Manual,Sheikhupura Punjab,Sindh

In [24]:
# let's check first if fuel_type has Nan values

car['fuel_type'].isna().sum()

0

In [25]:
# let's check first if transmission has Nan values

car['transmission'].isna().sum()

0

In [26]:
# let's check first if location has Nan values

car['location'].isna().sum()

0

In [27]:
# let's check first if registered_in has Nan values

car['registered_in'].isna().sum()

0

In [28]:
car

,name,company,year,price,kms_driven,fuel_type,transmission,location,registered_in
0,Honda Civic VTi Oriel Prosmatec 1.8 i-VTEC 2007,Honda,2007,1650000,100000,Petrol,Automatic,Islamabad Islamabad,Lahore
1,Suzuki Mehran VX Euro II 2012,Suzuki,2012,700000,100000,Petrol,Manual,"Eden Gardens, Faisalabad Punjab",Faisalabad
2,Honda Civic EX 1995,Honda,1995,760000,999,Petrol,Manual,"Bostan Road, Rawalpindi Punjab",Lahore
3,Toyota Fortuner 2.7 VVTi 2013,Toyota,2013,7000000,94000,Petrol,Automatic,"Kallar Kahar Road, Chakwal Punjab",Lahore
4,Suzuki Mehran VX Euro II 2015,Suzuki,2015,800000,86000,Petrol,Manual,Muzaffar Gargh Punjab,Multan
...,...,...,...,...,...,...,...,...,...
89951,Daihatsu Mira G SA III 2018,Daihatsu,2018,3000000,65000,Petrol,Automatic,"Gulshan-e-Iqbal, Karachi Sindh",Sindh
89952,Honda Civic Oriel 1.8 i-VTEC CVT 2017,Honda,2017,3750000,114000,Petrol,Automatic,"Tandlianwala Town, Faisalabad Punjab",Islamabad
89953,Toyota Corolla GLi Automatic 1.6 VVTi 2011,Toyota,2011,2235000,152000,Petrol,Automatic,Lahore Punjab,Lahore
89954,Suzuki Swift DLX 1.3 2013,Suzuki,2013,1550000,104000,Petrol,Manual,"Gulshan-e-Iqbal, Karachi Sindh",Karachi
89955,Toyota Corolla XE Limited 1996,Toyota,1996,730000,258456,Petrol,Manual,Sheikhupura Punjab,Sindh

In [29]:
car['name']

0        Honda Civic VTi Oriel Prosmatec 1.8 i-VTEC 2007
1                          Suzuki Mehran VX Euro II 2012
2                                    Honda Civic EX 1995
3                          Toyota Fortuner 2.7 VVTi 2013
4                          Suzuki Mehran VX Euro II 2015
                              ...
89951                        Daihatsu Mira G SA III 2018
89952              Honda Civic Oriel 1.8 i-VTEC CVT 2017
89953         Toyota Corolla GLi Automatic 1.6 VVTi 2011
89954                          Suzuki Swift DLX 1.3 2013
89955                     Toyota Corolla XE Limited 1996
Name: name, Length: 85318, dtype: object

In [30]:
# fist split the names using space and then sliced it to just keep first three words and then joined these words using space

car['name'].str.split(' ').str.slice(0,4).str.join(' ')

0               Honda Civic VTi Oriel
1               Suzuki Mehran VX Euro
2                 Honda Civic EX 1995
3            Toyota Fortuner 2.7 VVTi
4               Suzuki Mehran VX Euro
                     ...
89951              Daihatsu Mira G SA
89952           Honda Civic Oriel 1.8
89953    Toyota Corolla GLi Automatic
89954            Suzuki Swift DLX 1.3
89955       Toyota Corolla XE Limited
Name: name, Length: 85318, dtype: object

In [31]:
# replacing the column values in our dataframe

car['name'] = car['name'].str.split(' ').str.slice(0,4).str.join(' ')

C:\Users\asjad\AppData\Local\Temp\ipykernel_11312\2669255287.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['name'] = car['name'].str.split(' ').str.slice(0,4).str.join(' ')

In [32]:
# it will now have some rows that have been excluded and index will have missing indices
car

,name,company,year,price,kms_driven,fuel_type,transmission,location,registered_in
0,Honda Civic VTi Oriel,Honda,2007,1650000,100000,Petrol,Automatic,Islamabad Islamabad,Lahore
1,Suzuki Mehran VX Euro,Suzuki,2012,700000,100000,Petrol,Manual,"Eden Gardens, Faisalabad Punjab",Faisalabad
2,Honda Civic EX 1995,Honda,1995,760000,999,Petrol,Manual,"Bostan Road, Rawalpindi Punjab",Lahore
3,Toyota Fortuner 2.7 VVTi,Toyota,2013,7000000,94000,Petrol,Automatic,"Kallar Kahar Road, Chakwal Punjab",Lahore
4,Suzuki Mehran VX Euro,Suzuki,2015,800000,86000,Petrol,Manual,Muzaffar Gargh Punjab,Multan
...,...,...,...,...,...,...,...,...,...
89951,Daihatsu Mira G SA,Daihatsu,2018,3000000,65000,Petrol,Automatic,"Gulshan-e-Iqbal, Karachi Sindh",Sindh
89952,Honda Civic Oriel 1.8,Honda,2017,3750000,114000,Petrol,Automatic,"Tandlianwala Town, Faisalabad Punjab",Islamabad
89953,Toyota Corolla GLi Automatic,Toyota,2011,2235000,152000,Petrol,Automatic,Lahore Punjab,Lahore
89954,Suzuki Swift DLX 1.3,Suzuki,2013,1550000,104000,Petrol,Manual,"Gulshan-e-Iqbal, Karachi Sindh",Karachi
89955,Toyota Corolla XE Limited,Toyota,1996,730000,258456,Petrol,Manual,Sheikhupura Punjab,Sindh

In [33]:
# to reset the index and then using just new index

car.reset_index(drop = True)

,name,company,year,price,kms_driven,fuel_type,transmission,location,registered_in
0,Honda Civic VTi Oriel,Honda,2007,1650000,100000,Petrol,Automatic,Islamabad Islamabad,Lahore
1,Suzuki Mehran VX Euro,Suzuki,2012,700000,100000,Petrol,Manual,"Eden Gardens, Faisalabad Punjab",Faisalabad
2,Honda Civic EX 1995,Honda,1995,760000,999,Petrol,Manual,"Bostan Road, Rawalpindi Punjab",Lahore
3,Toyota Fortuner 2.7 VVTi,Toyota,2013,7000000,94000,Petrol,Automatic,"Kallar Kahar Road, Chakwal Punjab",Lahore
4,Suzuki Mehran VX Euro,Suzuki,2015,800000,86000,Petrol,Manual,Muzaffar Gargh Punjab,Multan
...,...,...,...,...,...,...,...,...,...
85313,Daihatsu Mira G SA,Daihatsu,2018,3000000,65000,Petrol,Automatic,"Gulshan-e-Iqbal, Karachi Sindh",Sindh
85314,Honda Civic Oriel 1.8,Honda,2017,3750000,114000,Petrol,Automatic,"Tandlianwala Town, Faisalabad Punjab",Islamabad
85315,Toyota Corolla GLi Automatic,Toyota,2011,2235000,152000,Petrol,Automatic,Lahore Punjab,Lahore
85316,Suzuki Swift DLX 1.3,Suzuki,2013,1550000,104000,Petrol,Manual,"Gulshan-e-Iqbal, Karachi Sindh",Karachi
85317,Toyota Corolla XE Limited,Toyota,1996,730000,258456,Petrol,Manual,Sheikhupura Punjab,Sindh

In [34]:
car=car.reset_index(drop = True)

In [35]:
# just to see the overall structure of the data distribution in our dataframe

car.describe()

               year         price      kms_driven
count  85318.000000  8.531800e+04    85318.000000
mean    2012.835521  2.539152e+06    83537.195293
std        7.623568  1.878516e+06    86450.285172
min     1990.000000  1.000000e+05        1.000000
25%     2007.000000  1.150000e+06    20689.500000
50%     2014.000000  2.100000e+06    74000.000000
75%     2019.000000  3.400000e+06   119433.500000
max     2022.000000  1.000000e+07  1000000.000000

In [36]:
# As the location wouldn't serve any significant purpose so I am dropping that as well

car = car.drop(columns=['location'])
car

,name,company,year,price,kms_driven,fuel_type,transmission,registered_in
0,Honda Civic VTi Oriel,Honda,2007,1650000,100000,Petrol,Automatic,Lahore
1,Suzuki Mehran VX Euro,Suzuki,2012,700000,100000,Petrol,Manual,Faisalabad
2,Honda Civic EX 1995,Honda,1995,760000,999,Petrol,Manual,Lahore
3,Toyota Fortuner 2.7 VVTi,Toyota,2013,7000000,94000,Petrol,Automatic,Lahore
4,Suzuki Mehran VX Euro,Suzuki,2015,800000,86000,Petrol,Manual,Multan
...,...,...,...,...,...,...,...,...
85313,Daihatsu Mira G SA,Daihatsu,2018,3000000,65000,Petrol,Automatic,Sindh
85314,Honda Civic Oriel 1.8,Honda,2017,3750000,114000,Petrol,Automatic,Islamabad
85315,Toyota Corolla GLi Automatic,Toyota,2011,2235000,152000,Petrol,Automatic,Lahore
85316,Suzuki Swift DLX 1.3,Suzuki,2013,1550000,104000,Petrol,Manual,Karachi
85317,Toyota Corolla XE Limited,Toyota,1996,730000,258456,Petrol,Manual,Sindh

In [37]:
car = car.drop(columns=['transmission','registered_in'])
car

,name,company,year,price,kms_driven,fuel_type
0,Honda Civic VTi Oriel,Honda,2007,1650000,100000,Petrol
1,Suzuki Mehran VX Euro,Suzuki,2012,700000,100000,Petrol
2,Honda Civic EX 1995,Honda,1995,760000,999,Petrol
3,Toyota Fortuner 2.7 VVTi,Toyota,2013,7000000,94000,Petrol
4,Suzuki Mehran VX Euro,Suzuki,2015,800000,86000,Petrol
...,...,...,...,...,...,...
85313,Daihatsu Mira G SA,Daihatsu,2018,3000000,65000,Petrol
85314,Honda Civic Oriel 1.8,Honda,2017,3750000,114000,Petrol
85315,Toyota Corolla GLi Automatic,Toyota,2011,2235000,152000,Petrol
85316,Suzuki Swift DLX 1.3,Suzuki,2013,1550000,104000,Petrol
85317,Toyota Corolla XE Limited,Toyota,1996,730000,258456,Petrol

In [38]:
car= car.head(40000)

In [39]:
# after checking for any outliers, I couldn't find any outlier in the data so
# store cleaned data into a csv file
car.to_csv('Cleaned_Car_data.csv')

## Let's build the Model

In [40]:
# our features are all the columns except price

X = car.drop(columns='price')

# our target variable is price

y = car['price']

In [41]:
# to divide the data between training and testing sets:

from sklearn.model_selection import train_test_split

In [42]:
# for different modeling functions:

from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [43]:
# divide the data between training and testing data sets

X_train, X_test , y_train , y_test = train_test_split (X,y, test_size = 0.2)

In [44]:

# Initializing a OneHotEncoder instance to convert categorical variables into binary (one-hot) encoded format.
# Fitting the encoder on selected categorical columns to learn the unique categories for each feature.


ohe = OneHotEncoder()

ohe.fit(X[['name','company','fuel_type']])

OneHotEncoder()

In [45]:

# Creating a column transformer that applies one-hot encoding to selected categorical columns
# using the pre-fitted encoder's learned categories. This ensures consistency between training and prediction.
# All other columns not listed will be passed through unchanged.

column_trans = make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),
                                       remainder = 'passthrough')

#### We used different models such as Random Forest, Decision Trees and GBM but we found out that XGBoost was giving the best r2 score

In [46]:
# Install XGBoost if not already installed
# !pip install xgboost

from xgboost import XGBRegressor                         # Gradient boosting model for regression
from sklearn.model_selection import train_test_split     # For creating train-test splits
from sklearn.pipeline import make_pipeline               # To build a preprocessing + modeling pipeline
from sklearn.metrics import r2_score                     # Metric to evaluate regression performance

# Initialize a list to store R² scores from each iteration
scores = []

# Run 100 iterations with different train/test splits to evaluate model stability
for i in range(100):
    # Split the dataset into training and testing sets with a different random seed in each iteration
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=i)

    # Initialize the XGBoost Regressor with 100 trees, depth 6, and learning rate 0.1
    # random_state is also set to 'i' for consistent model behavior within each split
    model = XGBRegressor(n_estimators=100, max_depth=6, learning_rate=0.1, random_state=i, verbosity=0)

    # Create a pipeline that applies column transformations (OneHotEncoding) and fits the model
    pipe = make_pipeline(column_trans, model)

    # Train the pipeline on the training data
    pipe.fit(X_train, y_train)

    # Generate predictions on the test set
    y_pred = pipe.predict(X_test)

    # Calculate the R² score and store it
    scores.append(r2_score(y_test, y_pred))

    # Print progress every 10 iterations
    if i % 10 == 0:
        print(f"Completed iteration {i}")

# Display the average R² score across all 100 iterations
print(f"Average R² Score: {sum(scores)/len(scores):.4f}")

Completed iteration 0
Completed iteration 10
Completed iteration 20
Completed iteration 30
Completed iteration 40
Completed iteration 50
Completed iteration 60
Completed iteration 70
Completed iteration 80
Completed iteration 90
Average R² Score: 0.7755

In [47]:
# checking at what index number of 1000 random splits its giving the highest r2 score

np.argmax(scores)

37

In [48]:
scores[np.argmax(scores)]

0.7934907674789429

In [49]:
from xgboost import XGBRegressor
import numpy as np

# Checking the r2 score at the iteration with highest R²
best_seed = np.argmax(scores)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=best_seed)

model = XGBRegressor(n_estimators=100, max_depth=6, learning_rate=0.1, random_state=42, verbosity=0)
pipe = make_pipeline(column_trans, model)

pipe.fit(X_train, y_train)
y_pred = pipe.predict(X_test)

r2 = r2_score(y_test, y_pred)
print(f"Best R² score at random_state={best_seed}: {r2:.4f}")

Best R² score at random_state=37: 0.7935

In [50]:


import pickle  # Python's built-in library for saving and loading serialized objects (like models)

# Saving the entire machine learning pipeline to a file
# This includes both the preprocessing steps (ColumnTransformer) and the trained XGBoost model
# Allows reusing the model later without retraining
pickle.dump(pipe, open('LinearRegressionModel.pkl', 'wb'))